
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
font-family: Helvetica, sans serif;
}



h1.header
	{
		text-align: center;
		margin-right: 15px;
		margin-bottom: 15px;
	}


p 
	{
		background-color: #F0FFFF;
		width: 90%;
		height: auto;
		margin-right: 1px;
		margin-left: 15px;
		margin-top: 1px;
		margin-bottom: 15px;
		padding-right: 30px;
		padding-top: 50px;
		padding-left: 1px;
	}
	
h1
	{
		text-align: right;
		margin-top: 0px;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-left: 1px;
		width: 100%;
		position: relative;
		top: 0px;
		right: 0px;
	}



.title1
	{
		background-color: #ff0080;
		border: 1px solid gray;
	}

.title2
	{
		background-color:  #bfff00;
		border: 1px solid gray;
	}

.title3
	{
		background-color:  #ffbf00;
		border: 1px solid gray;
	}


.content
	{
		width: 102%;
		box-sizing: border-box;
	}


@media (min-width: 992px) 
	{
		.column-large-3
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 31%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				/*font: normal 16px/1 "Times New Roman", Times, serif;
  				color: rgba(255,255,255,1);*/
  				/*text-align: center;*/
  				/*-o-text-overflow: ellipsis;*/
  				text-overflow: ellipsis;
  				background: #c6b9c2;
  				-webkit-box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
			}
	}

@media (min-width: 768px) and (max-width: 991px){
 	.column-medium-2
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 46%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
  				background: #c6b9c2;
  				-webkit-box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
			}
	.column-medium-1
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 94.5%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
  				background: #c6b9c2;
  				-webkit-box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
			}	
}
@media (max-width: 767px){
		.column-small-1
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 90%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				/*font: normal 16px/1 "Times New Roman", Times, serif;
  				color: rgba(255,255,255,1);*/
  				/*text-align: center;*/
  				/*-o-text-overflow: ellipsis;*/
  				text-overflow: ellipsis;
  				background: #c6b9c2;
  				-webkit-box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				box-shadow: 6px 5px 8px 1px rgba(0,0,0,0.3) ;
  				text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
			}
	}

div.menu_entry 
	{
		box-sizing: border-box;
		border: 1px ;

		/*position: relative;*/

	}
div.chan
	{
		/*position: relative;*/
		float:right;
		width: 250px;
		/*border: 3px solid #73AD21;*/
	}



