
* {
box-sizing: border-box;
}


body {
font-family: Arial, Helvetica, sans serif;
}



h1.header
	{
		text-align: center;
                text-size: -25%;
		margin 0;
		margin-top: 30px;
		margin-bottom: 25px;
	}


p 
	{
		background-color: #DCDCDC;
                width: 90%;
		height: auto;
		margin-right: 1px;
		margin-left: 15px;
		margin-top: 1px;
		margin-bottom: 15px;
		padding-right: 30px;
		padding-top: 50px;
		padding-left: 10px;

	}
	
h1
	{
		text-align: right;
                text-size: 125%;
		margin-top: 0px;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-left: 1px;
		width: 100%;
		position: relative;
                top: 0px;
		right: 0px;
		
	}


div.section
	{
		float:right;
		width: 150px;
	}

.section1
	{
		text-align: center;
                background-color: #FF8C00;
		border: 1px solid black;
	}

.section2
	{
                text-align: center;
		background-color:  #FFD700;
		border: 1px solid black;
	}

.section3
	{
                text-align: center;
		background-color:  #87CEFA;
		border: 1px solid black;
	}





@media (min-width: 992px) 
	{
		.column-large-3
			{
				float: left;
				padding-left: 1px;
				padding-right: 1px;
				width: 31%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				text-overflow: ellipsis;
                                background: #DCDCDC;
                                border: 1px solid black;
			}
	}

@media (min-width: 768px) and (max-width: 991px){
 	.column-medium-2
			{
				float: left;
				padding-left: 1px;
				padding-right: 1px;
				width: 46%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
                                background: #DCDCDC;
                                border: 1px solid black;
			}
	.column-medium-1
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 94.5%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
                                background: #DCDCDC;
                                border: 1px solid black;
			}	
}
@media (max-width: 767px){
		.column-small-1
			{
				float: left;
				padding-left: 1px;
				padding-right: 1px;
				width: 90%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				text-overflow: ellipsis;
                                background: #DCDCDC;
                                border: 1px solid black;
			}
	}
