
* {
box-sizing: border-box;
}


body {
font-family: Arial, Helvetica, sans serif;
}



h1.header
	{
		text-align: center;
		margin-right: 1px;
		margin-left: 1px;
		margin-top: 30px;
		margin-bottom: 30px;
	}


p 
	{
		background-color: #DCDCDC;
                border: 1px solid black;

                width: 90%;
		height: auto;
		margin-right: 1px;
		margin-left: 15px;
		margin-top: 1px;
		margin-bottom: 15px;
		padding-right: 30px;
		padding-top: 50px;
		padding-left: 10px;


               /* padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 10px;
                padding-right: 10px;*/
	}
	
h1
	{
		text-align: right;
		margin-top: 0px;
		margin-bottom: 1px;
		margin-right: 1px;
		margin-left: 1px;
		width: 100%;
		position: relative;
		top: 0px;
		right: 0px;
		
	}



.title1
	{
		text-align: center;
                text-size: 75%;
                background-color: #FF8C00;
		border: 1px solid black;
	}

.title2
	{
                text-align: center;
                text-size: 75%;
		background-color:  #FFD700;
		border: 1px solid black;
	}

.title3
	{
                text-align: center;
                text-size: 75%;
		background-color:  #87CEFA;
		border: 1px solid black;
	}





@media (min-width: 992px) 
	{
		.column-large-3
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 31%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				/*font: normal 16px/1 "Times New Roman", Times, serif;
  				color: rgba(255,255,255,1);*/
  				/*text-align: center;*/
  				/*-o-text-overflow: ellipsis;*/
  				text-overflow: ellipsis;
			}
	}

@media (min-width: 768px) and (max-width: 991px){
 	.column-medium-2
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 46%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
			}
	.column-medium-1
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 94.5%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				text-overflow: ellipsis;
			}	
}
@media (max-width: 767px){
		.column-small-1
			{
				float: left;
				/*border: 1px solid green;*/
				padding-left: 1px;
				padding-right: 1px;
				width: 90%;
				margin-right: 10px;
				margin-left: 10px;
				margin-top: 10px;
				margin-bottom: 10px;
				overflow: hidden;
  				border: none;
  				/*font: normal 16px/1 "Times New Roman", Times, serif;
  				color: rgba(255,255,255,1);*/
  				/*text-align: center;*/
  				/*-o-text-overflow: ellipsis;*/
  				text-overflow: ellipsis;
			}
	}


div.title
	{
		float:right;
		width: 150px;
	}
